################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/obj
/bin/Debug
/bin/Release
/ElasticSearch.Repository/bin
/ElasticSearch.Repository/obj
/src/obj
/src/.vs/ElasticSearch.Repository/v17
/src/ElasticSearch.Repository/obj
/src/.vs
/src/ElasticSearch.Repository/.vs/ElasticSearch.Repository
/src/ElasticSearch.Repository/bin/Debug/netstandard2.0
/src/Example/ElasticSearch.Example.Repository/bin/Debug/net6.0
/src/Example/ElasticSearch.Example.Repository/obj
/src/Example/ElasticSearch.Example.WebApi/bin/Debug/net6.0
/src/Example/ElasticSearch.Example.WebApi/obj
/src/ElasticSearch.Repository/bin/Debug
